<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Sign In</title>
</head>
<body>

    <%- include('./partials/nav'); %>

    <div class="container mt-4">
        <% if(locals.error){ %>
            <div class="alert alert-danger" role="alert">
                <%= locals.error  %>
            </div>
        <% } %>

        <form method="post" action="/user/signin">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>

        <p class="mt-2">Don't have an account? <a href="/user/signup">Create Account</a></p>
    </div>

    <%- include('./partials/script'); %>
</body>
</html>
